
<td class="file-icon">
    <span class="fa-layers">
        <i class="fas"></i>
        <i class="fas fa-circle" data-fa-transform="shrink-10 up-5 left-7" data-tag-id="null"></i>
    </span>
</td>
<td class="file-name">{{= name }}</td>
<td class="file-controls cell-one-row" id="file-controls">
    <div id="file-indicators">
        <i class="fas fa-user share-user-icon"></i>
        <i class="fas fa-link share-link-icon"></i>
    </div>
    <button id="file-favorite-btn">
        <i class="fas fa-star"></i>
    </button>
</td>
<td class="file-size cell-one-row">{{= size }}</td>
<td class="file-updated-at cell-one-row">{{= updated_at }}</td>
