body {
  background-image: url(/images/circles-light.png?bd7575c93c69f03a4591d1e01ce9dec9);
}

#login-form {
  border: none;
  width: 300px;
}

#login-form .card-header {
  border-radius: 0;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: #FF7052;
}

#login-form .card-body #btn-submit {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-top: -2rem;
  background-color: white;
  color: #FF7052;
  position: relative;
  border: none;
  cursor: pointer;
}

#login-form .card-body #btn-submit:active,
#login-form .card-body #btn-submit:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login-form .card-body #btn-submit:hover {
  color: white;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#login-form .card-body #btn-submit:hover:before {
  background-color: #FF7052;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}

#login-form .card-body #btn-submit:before {
  position: absolute;
  top: .5rem;
  left: .5rem;
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  border: 1px solid #FF7052;
  border-radius: 50%;
  z-index: -1;
}

