#container {
  #navbar {
    height: 45px;
    background-color: $primary-color;
    //background: linear-gradient(to bottom right, darken($primary-color, 10), $primary-color, darken($primary-color, 10));
    z-index: 100;
    box-shadow: 0px 0px 6px -1px #181818;
    color: $text-color;

    #navbar-center {
      font-size: 1.2rem;
      font-weight: 600;
      color: $text-color-alt;
    }
  }
}