
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

  // Bootstrap
@import "~bootstrap/scss/bootstrap";

.yc-template {
  display: none;
}



html {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  //background: $primary-color;

  & > .row {
    height: 100%;
  }
}

#content {
  min-height: calc(100% - 45px);
  background-color: $background-color;
}

@import "alerts-container";

@import "_navbar";

@import "_left_menu";

@import "file_context_menu";