


.files-list {
  th, td {
    vertical-align: middle !important;
  }

  tbody {
    tr {
      cursor: pointer;

      .file-icon {
        svg[data-tag-id='null'] {
          visibility: hidden;
        }

        svg[data-tag-id='1'] {
          @extend .text-primary;
        }

        svg[data-tag-id='2'] {
          @extend .text-success;
        }

        svg[data-tag-id='3'] {
          @extend .text-danger;
        }

        svg[data-tag-id='4'] {
          @extend .text-warning;
        }

        svg[data-tag-id='5'] {
          @extend .text-info;
        }
      }

      //.tag-1 {
      //  @extend .text-primary;
      //}
      //
      //.tag-2 {
      //  @extend .text-success;
      //}
      //
      //.tag-3 {
      //  @extend .text-danger;
      //}
      //
      //.tag-4 {
      //  @extend .text-warning;
      //}
      //
      //.tag-5 {
      //  @extend .text-info;
      //}

      td.favorite-btn {

        &:before {
          display: none;
          font-family: "Font Awesome 5 Regular";
          content: "\f005";
        }

        &:hover, &.active {
          color: $text-color-alt;
        }

        &.active:hover {
          color: $text-color;
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }

      &.active, &.active-static {
        background-color: $text-color-alt;
        color: lighten($text-color, 10);

        td.favorite-btn {
          &.active {
            color: darken($text-color-alt, 15);

            &:hover {
              color: $text-color;
            }
          }

          &:hover {
            color: darken($text-color-alt, 15);
          }
        }

        &:hover {
          background-color: lighten($text-color-alt, 4) !important;
          color: lighten($text-color, 15);
        }
      }
    }
  }

}

#checkbox-select-all {
  width: 11px;
}

#breadcrumb .breadcrumb {
  background-color: $secondary-color;
  border-radius: 0;
}