.files-list {
    tbody {
      tr {

        &[data-favorite="true"] {
            td.favorite-btn > button {
                color: $text-color-alt;

                &:hover {
                    color: $text-color;
                }
            }
        }
  
        td.favorite-btn {
          button {
            background: none;
            border: none;
            color: $text-color;
    
            &:hover {
              color: $text-color-alt;
            }
          }
        }

        &.active, &.active-static {
            td.favorite-btn button {
                &:hover {
                    color: darken($text-color-alt, 15);
                }
            }
        }

        &[data-favorite="true"].active, &[data-favorite="true"].active-static {
            td.favorite-btn button {
                color: darken($text-color-alt, 15);

                &:hover {
                    color: $text-color;
                }
            }
        }
  
        
      }
    }
  }