.files-list {
  th, td {
    vertical-align: middle !important;
  }
  
  tbody {
    tr {
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.075);
      }
  
      &.active, &.active-static {
        background-color: $text-color-alt;
        color: lighten($text-color, 10);
  
        &:hover {
          background-color: lighten($text-color-alt, 4) !important;
          color: lighten($text-color, 15);
        }
      }
    }
  }
}