<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{= localization.modal_sharing_title}}</h5>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>{{= localization.modal_sharing_by_link}}</h5>
            <div class="input-group share-link">
                <input class="form-control" type="text" readonly placeholder="{{= localization.modal_sharing_by_link_empty}}" value="{{= data.share_link? location.origin + '/download/share/' + data.share_link : '' }}">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" data-action="shareLinkToggle">
                        <i class="fas fa-times"></i>
                    </button>
                </span>
            </div>
            <hr>

            <h5>{{= localization.modal_sharing_for_user}}</h5>
            <div class="input-group share-for-user">
                <input class="form-control user-search" type="text" placeholder="{{= localization.modal_sharing_for_user_empty}}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-action="findUser">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
                <div class="users-list">
                    <ul>
                        <li>User1</li>
                        <li>User2</li>
                    </ul>
                </div>
            </div>

            <table class="table table-hover mt-3 shared-users">
                <thead>
                    <tr>
                        <th scope="col">{{= localization.modal_sharing_user_nickname}}</th>
                        <th scope="col" class="w-25 text-center">{{= localization.modal_sharing_user_remove}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{ _.each(data.share_users, function(user) { }}
                    {{ if(! user) return; }}
                    <tr data-user-id="{{= user.id }}">
                        <td class="user-name">{{= user.name }}</td>
                        <td class="remove-sharing text-center" role="button">
                            <i class="fas fa-unlink"></i>
                        </td>
                    </tr>
                    {{ }); }}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
