<td class="file-icon">
    <span class="fa-layers" style="font-size: 25px">
        <i class="fas"></i>
        <i class="fas fa-circle" data-fa-transform="shrink-10 up-5 left-7" data-tag-id="null"></i>
    </span>
</td>
<td class="file-name">{{= name }}</td>
<td class="file-controls">
    <div>
        <i class="fas fa-user share-user-icon"></i>
        <i class="fas fa-link share-link-icon"></i>
    </div>
</td>
<td class="favorite-btn">
    <button>
        <i class="fas fa-star"></i>
    </button>
</td>
<td class="file-size">{{= size }}</td>
<td class="file-updated-at">{{= updated_at }}</td>